.postBlock {
  position: relative;
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.title {
  font-size: 22px;
  line-height: 1.3em;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.description {
  font-size: 16px !important;
  margin-bottom: 10px !important;
}
